@import url("https://fonts.googleapis.com/css2?family=Jockey+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
/* COLORS*/
$background-black: #0b1219;
$background-grey: #939393;
$background-light-grey: #d9d9d9;
$white: #ffffff;
$red: #e95e50;
$purple: #6f1065;
$blue: #1ea096;
$logo-red: #a81f11;
$logo-grey: #e6d6d4;

/* FONTS*/

$title-font-family: "Jockey One", sans-serif;
$base-font-family: "Lato", sans-serif;

/* TEXT*/
@mixin mainTitle {
  color: $background-light-grey;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: $title-font-family;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.8rem;
}

/* BUTTON */
@mixin mainBtn($color) {
  margin: 1.5rem auto;
  padding: 1.2rem;
  border-radius: 2.5rem;
  color: $color;
  border: 1px solid;
  border-color: $color;
  background: none !important;
  font-family: $title-font-family;
  line-height: 1;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease;
}

@mixin mainBtnHover($color-hover) {
  color: $color-hover;
  letter-spacing: 0.3rem;
  transition: all 0.3s ease;
  border: 3px dashed;
  border-color: $color-hover;
  line-height: 1;
  cursor: url(https://ani.cursors-4u.net/comics/mic-1/mic14.cur), auto !important;
}

@mixin navBtnHover($color-hover) {
  color: $color-hover;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease;
  border-bottom: 2px dashed;
  border-color: $color-hover;
  line-height: 1;
  padding-bottom: 0.4rem;
  padding-right: 0;
  cursor: url(https://ani.cursors-4u.net/comics/mic-1/mic14.cur), auto !important;

}

@mixin logo($font-size) {
  color: #e6d6d4;
  -webkit-text-fill-color: #e6d6d4;
  letter-spacing: 0.14rem;
  -webkit-text-stroke: 0.06rem #a81f11;
  line-height: 1;
  text-transform: uppercase;
  font-family: $title-font-family;
  font-weight: 600;
  font-size: $font-size;
}