@import "./components/Variables.scss";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
}

.footer-logo {
  @include logo(2.8rem);
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 0px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

body {
  background-color: black;
  color: white;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  font-family: $title-font-family;
}

.footer-column {
  width: 30%;
  display: inline-block;
  text-align: center;
}

.footer-column1 {
  width: 30%;
  display: inline-block;
  text-align: center;
}

.footer-column2 {
  width: 30%;
  display: inline-block;
  text-align: center;
}

.footer-button {
  @include mainBtn($white);
}

.footer-button:hover {
  @include mainBtnHover($blue);
}

.row1 {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 600px) {
  .row1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  .list-unstyled {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  .footer-item {
    display: inline-block;
  }
  .footer-column1 {
    width: 80%;
  }
}

.footer-adress {
  font-family: $base-font-family;
  text-align: left;
}
.list-unstyled {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
}
.row2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.container {
  min-height: 100%;
  position: relative;
  padding-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.footer-title {
  margin-left: auto;
  margin-right: auto;
  display: block;
}


body {
  background-color: $background-black;
  color: $white;
  }

/* TITLE */
.contactTitle {
  @include mainTitle;
  display: block;
  margin-top: 0px;
}

.logo {
  @include logo(4.2rem);
  margin-top: 1%;
}

/* Enveloppe animated*/

.anim-mail {
  display: flex;
  padding-top: 5%;
}

.letter-image {
  position: relative;
  top: 10%;
  left: 50%;
  width: 200px;
  height: 200px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.animated-mail {
  position: absolute;
  height: 150px;
  width: 200px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  margin-left: auto;
  margin-right: auto;

  .body {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 200px;
    border-color: transparent transparent #e95f55 transparent;
    z-index: 2;
  }

  .top-fold {
    position: absolute;
    top: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 100px 0 100px;
    -webkit-transform-origin: 50% 0%;
    -webkit-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    -moz-transform-origin: 50% 0%;
    -moz-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    transform-origin: 50% 0%;
    transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    border-color: #cf4a43 transparent transparent transparent;
    z-index: 2;
  }

  .back-fold {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 100px;
    background: #cf4a43;
    z-index: 0;
  }

  .left-fold {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 100px;
    border-color: transparent transparent transparent #e15349;
    z-index: 2;
  }

  .letter {
    left: 20px;
    bottom: 0px;
    position: absolute;
    width: 160px;
    height: 60px;
    background: white;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: 0.4s 0.2s;
    -moz-transition: 0.4s 0.2s;
    transition: 0.4s 0.2s;

    .letter-border {
      height: 10px;
      width: 100%;
      background: repeating-linear-gradient(
        -45deg,
        $blue,
        $blue,
        8px,
        transparent 8px,
        transparent 18px
      );
    }

    .letter-title {
      margin-top: 10px;
      margin-left: 5px;
      height: 10px;
      width: 40%;
      background: $blue;
    }

    .letter-context {
      margin-top: 10px;
      margin-left: 5px;
      height: 10px;
      width: 20%;
      background: $blue;
    }

    .letter-N {
      margin-top: 0px;
      margin-left: 65px;
      height: 10px;
      width: 20%;
      @include logo(4.2rem);
    }

    .letter-stamp {
      margin-top: 30px;
      margin-left: 120px;
      border-radius: 100%;
      height: 30px;
      width: 30px;
      background: #cb5a5e;
      opacity: 0.3;
    }
  }
}

.letter-image:hover {
  .animated-mail {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
  }

  .animated-mail .top-fold {
    transition: transform 0.4s, z-index 0.2s;
    transform: rotateX(180deg);
    -webkit-transition: transform 0.4s, z-index 0.2s;
    -webkit-transform: rotateX(180deg);
    -moz-transition: transform 0.4s, z-index 0.2s;
    -moz-transform: rotateX(180deg);
    z-index: 0;
  }

  .animated-mail .letter {
    height: 180px;
  }

  .shadow {
    width: 250px;
  }
}

/* CONTACT FORM */
.LabelForm {
  color: $background-light-grey;
  text-align: left;
  display: block;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  font-family: $title-font-family;
  font-weight: 300;
  font-size: 1.3rem;
}

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ContactForm {
  max-width: 400px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  /*   z-index: 1; 
  animation: bounce 1.5s infinite;*/
}

::-webkit-input-placeholder {
  font-size: 1.3em;
}

.animated {
  background-color: $background-light-grey;
  color: $background-black;
  margin-top: 0px;
}

.animated:hover {
  border-bottom: 5px solid $blue;
  height: 40px;
  width: 340px;
  transition: ease 0.5s;
}

.message {
  background-color: $background-light-grey;
  overflow: hidden;
  height: 10rem;
}

.message:hover {
  border-bottom: 5px solid $blue;
  height: 15em;
  width: 340px;
  transition: ease 0.5s;
}

.formEntry {
  display: block;
  margin: 1rem auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.5s ease 0s;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-family: $title-font-family;
  color: $blue;
  font-size: 1rem;
}

button.submit {
  @include mainBtn($blue);
  display: block;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  line-height: 1;
  min-width: 200px;
  height: 60px;
  position: relative;
}

button.submit:hover {
  @include mainBtnHover($white);
}

.non-valid {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row-reverse;
  align-content: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 0px;
  margin-bottom: 0.9rem;
  color: $red;
  width: 60%;
  padding: 0.3rem;
  border-radius: 30px;
  font-family: $title-font-family;
  font-size: 1.17rem;
  font-weight: 200;
}

.valid {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row-reverse;
  align-content: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 0px;
  margin-bottom: 0.9rem;
  color: $blue;
  width: 60%;
  padding: 0.3rem;
  border-radius: 30px;
  font-family: $title-font-family;
  font-size: 1.17rem;
  font-weight: 200;
}

/* TEXTE DEFILANT- BAS DE PAGE */
.messagedefilant {
  margin-top: 30px;
  display: block;
  margin: auto auto;
  padding: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 40px;
  background-color: $background-light-grey;
  transform: rotate(-3deg);
  top: 20%;
  margin-top: 5rem;
  color: $background-black;
}

.messagedefilant div {
  top: 10%;
  position: absolute;
  min-width: 100%;
  /* au minimum la largeur du conteneur */
}

.messagedefilant div p,
.messagedefilant div:after {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  white-space: nowrap;
  top: 0;
  font-family: $title-font-family;
  font-weight: 600;
  line-height: 1;
}

.messagedefilant div > p {
  animation: defilement 25s infinite linear;
  display: inline;
}

.puce {
  padding-left: 3rem;
  padding-right: 3rem;
  color: $red;
  font-size: 35px;
}

@keyframes defilement {
  0% {
    margin-left: 50%;
  }

  100% {
    margin-left: -50%;
  }
}
=======
@media screen and (max-width: 834px) {
  .containerCard {
    flex-direction: column;
    align-items: center;
  }
}

// ---------------- img ----------------
.imgSection {
  width: 40%;
  height: auto;
  margin-right: 2rem;
  display: flex;
  align-items: center;
}

.imgSection img {
  border-radius: 5%;
}

@media screen and (max-width: 834px) {
  .imgSection {
    margin-right: 0px;
    width: 80%;
  }

  .imgSection img {
    max-width: 100%;
    height: auto;
    margin-right: 0px;
    margin: auto;
  }
}
// ---------------- === HEROECARD === ----------------
.containerCard {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

// ---------------- description ----------------
.descSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.descSection h2 {
  color: $blue;
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0.5rem;
}
.descElement {
  padding: 0.2rem;
}

.descSection h3 {
  text-transform: uppercase;
  margin-bottom: 0.2rem;
  margin-top: 1rem;
}

@media screen and (max-width: 834px) {
  .descSection {
    align-items: center;
    text-align: center;
  }
}

// ---------------- statistics ----------------
.statSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.statSection h3 {
  text-transform: uppercase;
  margin-bottom: 0.2rem;
  margin-top: 1rem;
}

.statSection ul {
  list-style: none;
}

.statSection li::before {
  content: "•";
  color: $blue;
  display: inline-block;
  width: 1em;
  margin-left: -0.5em;
}

.statSection li {
  margin: 0.3rem;
}

@media screen and (max-width: 834px) {
  .statSection {
    align-items: center;
  }
}

// ---------------- button ----------------
.buttonSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.buttonSection button {
  padding: 0.5rem;
  font-size: 1.2rem;
  @include mainBtn($blue);
}

.buttonSection button:hover {
  @include mainBtnHover($white);
}

// --- statisticsGraph ---
