@import "./components/Variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
}

body {
  background-color: $background-black;
  color: $white;
}

.Logo {
  @include logo(55px);
  text-align: center;
  margin: 20px 0 40px 0;
}

.Catalogue-main {
  display: flex;
  gap: 18px;
  justify-content: center;
  flex-wrap: wrap;
}
.Catalogue-card {
  outline-offset: -1px;
  height: 200px;
  width: 105px;
  outline: 1px $white solid;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.Catalogue-card-img {
  width: 100%;
  height: 160px;
  border-radius: 16px;
  position: relative;
  z-index: 2;
}
.Catalogue-card-title {
  color: $white;
  font-size: 12px;
  text-align: center;
  margin: 5px 2px 0 2px;
}

.Panier-card {
  margin: 13px;
  margin-bottom: 30px;
  height: 150px;
  border-radius: 20px;
  background-color: $background-grey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.Panier-card img {
  height: 120px;
  width: 90px;
  border-radius: 10px;
}
.Panier-card li {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Panier-card-count {
  display: flex;
  flex-direction: column;
}

.Panier-card-count p {
  text-align: center;
}

.Panier-total {
  background-color: $background-grey;
  margin: 13px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.Panier-btn-checkout {
  @include mainBtn(green);
  margin-top: 20px;
}

.Panier-total h3 {
  margin-top: 20px;
}

.Panier-reduc {
  border-bottom: 1px solid $background-light-grey;
}

.Panier-reduc input {
  height: 25px;
  width: 200px
}

.Panier-reduc button {
  @include mainBtn($white);
  margin-left: 30px;
  padding: 0.6rem;
}

.Panier-reduc h3{
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .Panier-card {
    width: 65%;
  }
  .Panier-total {
    width: 30%;
    position: fixed;
    top: 120px;
    right: 0px;
    height: 350px;
  }

  .Panier-total h3 {
    margin-top: 40px;
    font-size: 20px;
  }

  .Panier-container {
    display: flex;
    flex-direction: column;
  }
  .Panier-btn-checkout {
    margin-top: 30px;
    width: 180px;
    padding: 1.5rem;
  }
  .Panier-reduc{
    padding-bottom: 10px;
  }
  .Panier-reduc h3{
    margin-top: 20px;
  }
}
