@import "./components/Variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
}

body {
   background-color: $background-black;
   color: $white;
}

.Logo {
  @include logo(55px);
  text-align: center;
  margin: 40px 0 40px 0;
}

.Catalogue-main {
  display: flex;
  gap: 18px;
  justify-content: center;
  flex-wrap: wrap;
}

.Catalogue-card {
  outline-offset: -1px;
  height: 200px;
  width: 105px;
  outline: 1px $white solid;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.Card-img {
  width: 100%;
  height: 160px;
  border-radius: 16px;
  position: relative;
  z-index: 2;
}

.Card-title {
  color: $white;
  font-size: 12px;
  text-align: center;
  margin: 5px 2px 0 2px;
}

@media only screen and (min-width: 768px) {
  .Catalogue-main {
    gap: 50px;
    margin: 70px 20px 0 20px;
  }

  .Logo {
    @include logo(70px);
    margin-top: 40px;
  }

  .Catalogue-card {
    height: 240px;
    width: 135px;
  }

  .Card-img {
    height: 190px;
  }

  .Card-title {
    margin: 12px 2px 0 2px;
  }
}

// ---------------- === HEROECARD === ----------------
.containerCard {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

@media screen and (max-width: 834px) {
  .containerCard {
    flex-direction: column;
    align-items: center;
  }
}

// ---------------- img ----------------
.imgSection {
  width: 40%;
  height: auto;
  margin-right: 2rem;
  display: flex;
  align-items: center;
}

.imgSection img {
  border-radius: 5%;
}

@media screen and (max-width: 834px) {
  .imgSection {
    margin-right: 0px;
    width: 80%;
  }

  .imgSection img {
    max-width: 100%;
    height: auto;
    margin-right: 0px;
    margin: auto;
  }
}

// ---------------- description ----------------
.descSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.descSection h2 {
  color: $blue;
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0.5rem;
}
.descElement {
  padding: 0.2rem;
}

.descSection h3 {
  text-transform: uppercase;
  margin-bottom: 0.2rem;
  margin-top: 1rem;
}

@media screen and (max-width: 834px) {
  .descSection {
    align-items: center;
    text-align: center;
  }
}

// ---------------- statistics ----------------
.statSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.statSection h3 {
  text-transform: uppercase;
  margin-bottom: 0.2rem;
  margin-top: 1rem;
}

.statSection ul {
  list-style: none;
}

.statSection li::before {
  content: "•";
  color: $blue;
  display: inline-block;
  width: 1em;
  margin-left: -0.5em;
}

.statSection li {
  margin: 0.3rem;
}

@media screen and (max-width: 834px) {
  .statSection {
    align-items: center;
  }
}

// ---------------- button ----------------
.buttonSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.buttonSection button {
  padding: 0.5rem;
  font-size: 1.2rem;
  @include mainBtn($blue);
}

.buttonSection button:hover {
  @include mainBtnHover($white);
}

// --- statisticsGraph ---