@import "./components/Variables.scss";

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

body {
  background-color: black;
  color: white;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  font-family: $title-font-family;
}

.footer-column {
  width: 30%;
  display: inline-block;
}

.footer-column1 {
  width: 30%;
  display: inline-block;
  text-align: center;
}

.footer-column2 {
  width: 30%;
  display: inline-block;
  text-align: center;
}

button.footer-button {
  @include mainBtn($white);
}

button.footer-button:hover {
  @include mainBtnHover($blue);
}

.footer-logo {
  @include logo(10px);
}
.row1 {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 600px) {
  .row1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  .footer-title {
    display: none;
  }
  .list-unstyled {
    display: flex;
    justify-content: space-around;
  }
  .footer-item {
    display: inline-block;
  }
  .footer-column1 {
    width: 80%;
  }
}
.row2 {
  // width: 80%;
  // display: inline-block;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.container {
  min-height: 100%;
  position: relative;
  padding-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.footer-title {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
